@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        The best HTML5 applications call for brilliant Data Visualization and jaw-dropping performance, and nobody else gives you the tools to deliver highly performant, visually stunning apps across every browser, platform and device better than NetAdvantage for jQuery. 
    </p>

    <p>
        To learn more about Ignite UI components visit <a href="http://www.infragistics.com/" title="Infragistics Website">Infragistics Website</a>
    </p>

    <p>
        Author: Mihail Mateev - Senior technical Evangelist at Infragistics
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>

<img src="~/Images/Ignite_Overview.png" alt="Ignite UI" />